  /* impostazione del bordo pagina*/
* {
    box-sizing: border-box;
  }
  body{
    background-color: azure;
  }
  /* Rimuove margini della lista */
  ul {
    margin: 0;
    margin-top: 20px;
    padding: 0;
  }
  /*lista di todos*/
 
    ul li {
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        font-size: 18px;
        transition: 0.2s;
      }

 ul li:hover{
    background: rgb(210, 246, 246);
 }
 #textElement{
    margin: 10px;
    font-size: large;
    
 }
 .removeBtn{
    background-color: rgb(211, 213, 213);
    border-radius: 5px;
 }
 /*cambiato la checkbox*/

 .checkboxElement{
    -webkit-appearance: none;
    appearance: none;
    content: '';
    position: absolute;
    border-color:black;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
 }
 


